@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.line {
  line-height: 45px;
}
.vote-options {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  align-items: center;
  margin-bottom: 50px;
  position: sticky;
  bottom: 2rem;
}
.header {
  width: 100vw;
  height: 80vh;
  margin-bottom: 100px;
  background: url(/images/Header-image.jpeg) center center / cover;
}
.header .header-paragraph {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.69);
  color: rgb(236, 236, 236);
  /* font-size: 2rem; */
  text-align: center;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 3rem;
}
